<form [formGroup]="applicantsForm" (ngSubmit)="onFormSubmit()">
  <h1>Registration Form</h1><hr>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>PhoneNO</mat-label>
          <input matInput type="number" placeholder="PhoneNumber" formControlName="phoneNo">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Role</mat-label>
          <input matInput type="text" placeholder="role" formControlName="role">
        </mat-form-field>
      </div>



      <div class="col-sm-6">
        <!-- <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-radio-group aria-label="Select an option" formControlName="gender" >
          <mat-label><b>Gender</b></mat-label>
          <mat-radio-button value="male" formControlName="gender">Male</mat-radio-button>
          <mat-radio-button value="female" formControlName="gender">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Status</mat-label>
          <input matInput type="text" placeholder="Status" formControlName="role">
        </mat-form-field>
      </div>

    </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div mat-dialog-actions>
        <button mat-raised-button color="warn" class="btn btn-danger" matDialogClose="no">Close</button>
        <button mat-raised-button color="primary">save</button>
      </div>
    </div>
  </div>

</form>
