
<div class="h5 text-center text-muted my-0"><i class="fa fa-user mb-3"></i>ADD USER</div>

<div class=" container card shadow p-4 border  " style="width: 95%;">
<div class="container">
  <div class="card mb-1 mb-3 text-end">
    <div class="card-body row">
      <div class="col-sm-4 col-sm-4 col-md-4 col-lg-4 d-flex align-items-center mb-2">
        <input class="form-control" type="search" placeholder="Search ..." (keyup)="applyFilter($event)" #input>
      </div>
      <div class="col-sm-8 col-sm-8 col-md-8 col-lg-8 text-right">
        <button class="btn btn-primary btn-sm pull-right" (click)="onCreate()" id="btnSave">
          <i class="nav-icon fas fa-plus"></i> Add
        </button>
      </div>
    </div>
  </div>

  <div class="card card-body">
  <div class="mat-elevation-z3 p-2 border table-responsive">
    <table mat-table [dataSource]="dataSource" class="table table-striped table-borderless table-hover table-sm " >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="text-center"> <b>S/N.</b></th>
        <td mat-cell *matCellDef="let element; let i=index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class=""> <b>NAME</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class=""> <b>EMAIL</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>


        <ng-container matColumnDef="phoneNo">
          <th mat-header-cell *matHeaderCellDef class=""><b>PHONE:</b></th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef class=""><b>ROLE</b></th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>



        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef class=""><b>PASSWORD</b></th>
          <td mat-cell *matCellDef="let element"> {{element.password}} </td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef class=""><b>GENDER</b></th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class=""><b>ACTION</b> </th>
        <td mat-cell *matCellDef="let element">
          <a class="btn btn-outline-info btn-sm m-1" (click)="onEdit(element)">
            <i class="fa fa-edit"></i> edit
          </a>
          <a class="btn btn-outline-danger btn-sm m-1" (click)="onDelete(element)">
            <i class="fa fa-trash"></i> trash
          </a>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell mr-3" colspan="8">No data matching the filter "{{input.value}}"</td>
      </tr>
      <hr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[10, 5, 15, 20]">
    </mat-paginator>
  </div>
</div>
</div>
</div>




<!-- faq -->
