<div class="containe p-3 my-3">
  <div class="card card-body shadow">
    <div class="card-header h5 mybg"><i class="fas fa-file"></i> Draft </div>
    <table class="table table-striped table-bordered">
      <thead class="text-center">
        <tr class="table-dark ">
          <th class="fw-light myText-color" scope="col">SN</th>
          <th class="fw-light myText-color" scope="col">TITTLE</th>
          <th class="fw-light myText-color" scope="col">TIME</th>
          <th class="fw-light myText-color" scope="col">EDIT</th>
          <th class="fw-light myText-color" scope="col">TRASH</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
        <td>
          <p>{{sn}}</p>
        </td>
        <td>
          <p>{{tittle}}</p>
        </td>
        <td>
          <p>{{time}}</p>
        </td>
        <td>
          <div class="text-center">
            <button class="btn btn-sm btn-primary"><i class="fa fa-pen"></i> Edit</button>
          </div>
        </td>
        <td>
          <div class="text-center">
            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Trash</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{sn2}}</p>
        </td>
        <td>
          <p>{{tittle}}</p>
        </td>
        <td>
          <p>{{time}}</p>
        </td>
        <td>
          <div class="text-center">
            <button class="btn btn-sm btn-primary"><i class="fa fa-pen"></i> Edit</button>
          </div>
        </td>
        <td>
          <div class="text-center">
            <button class="btn btn-sm btn-danger" value=""><i class="fa fa-trash"></i> Trash</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{sn3}}</p>
        </td>
        <td>
          <p>{{tittle}}</p>
        </td>
        <td>
          <p>{{time}}</p>
        </td>
        <td>
          <div class="text-center">
            <button class="btn btn-sm btn-primary"><i class="fa fa-pen"></i> Edit</button>
          </div>
        </td>
        <td>
          <div class="text-center">
            <button class="btn btn-sm btn-danger" value=""><i class="fa fa-trash"></i> Trash</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
