<div class="sidenav">
  <ul id="sidebar" class="list-unstyled components">
    <div id="mySidenav" class="sidenav">
      <div class="row">
        <div class="d-flex align-items-center pb-3 link-dark text-decoration-none col-md-12">
          <span class="fw-semibold text-center fw-light">
            <img class="brand fa-spin" src="../../../assets/img/ico/e-latter.ico" alt="e-latter" style="width: 18%">
          </span>
        </div>
        <span class="text-center fw-light col-md-12"></span>
      </div>
      <div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class=" btn btn-close my-1"></span>
        </a>
      </div>
      <li *ngIf="hasRoleREGISTRAR" class="fw-light"> <a routerLink='senderHome' onclick='closeNav()'><i class="fas fa-home"></i> Home Registry</a></li>

      <li class="fw-light"> <a routerLink='senderLetter' onclick='closeNav()' *ngIf="hasRoleREGISTRAR"><i class="fas fa-envelope"></i> Letter</a></li>
<!-- hod -->
      <li class="fw-light"> <a routerLink='hod-home' onclick='closeNav()' *ngIf="hasRoleHOD"><i class="fas fa-location fa-spin"></i>HOD HOME</a></li>
       <li class="fw-light"> <a routerLink='hod-myletters' onclick='closeNav()' *ngIf="hasRoleHOD"><i class="fas fa-location fa-spin"></i>HMY letters </a></li>
       <li class="fw-light"> <a routerLink='hod-letters' onclick='closeNav()' *ngIf="hasRoleHOD"><i class="fas fa-location fa-spin"></i>HLETTERS </a></li>
<!-- dean -->
      <li class="fw-light"> <a routerLink='dean-home' onclick='closeNav()' *ngIf="hasRoleDEAN"><i class="fas fa-location fa-spin"></i>DEAN HOME</a></li>
      <li class="fw-light"> <a routerLink='dean-myletters' onclick='closeNav()' *ngIf="hasRoleDEAN"><i class="fas fa-location fa-spin"></i>DEAN MYLETTES</a></li>
      <li class="fw-light"> <a routerLink='dean-letters' onclick='closeNav()' *ngIf="hasRoleDEAN"><i class="fas fa-location fa-spin"></i>DEAN LETTERS</a></li>
<!-- dvc -->
      <li class="fw-light"> <a routerLink='dvc-home' onclick='closeNav()' *ngIf="hasRoleDVC"><i class="fas fa-location fa-spin"></i>DVC HOME</a></li>
      <li class="fw-light"> <a routerLink='dvc-myletters' onclick='closeNav()' *ngIf="hasRoleDVC"><i class="fas fa-location fa-spin"></i>DMY LETTERS </a></li>
      <li class="fw-light"> <a routerLink='dvc-letters' onclick='closeNav()' *ngIf="hasRoleDVC"><i class="fas fa-location fa-spin"></i>DLETTERS</a></li>
      <!-- vc -->
      <li class="fw-light"> <a routerLink='vc-home' onclick='closeNav()' *ngIf="hasRoleVC"><i class="fas fa-location fa-spin" ></i>VC HOME</a></li>
      <li class="fw-light"> <a routerLink='vc-myletters' onclick='closeNav()' *ngIf="hasRoleVC"><i class="fas fa-location fa-spin" ></i>V MYLETTERS</a></li>
      <li class="fw-light"> <a routerLink='vc-letters' onclick='closeNav()' *ngIf="hasRoleVC"> <i class="fas fa-location fa-spin" ></i>VLETTERS</a></li>

      <li class="fw-light"> <a routerLink=''><i class="fas fa-sign-out"></i> Logout</a></li>
    </div>
  </ul>
</div>
<nav class="navbar bg-warning">
  <div class="container-fluid">
    <p class="navbar-brand"><span style="cursor:pointer" class="fa fa-navicon navi" onclick="openNav()"></span>
    <div class="text-end text-white">
      <span><i class="fas fa-user-circle fa-2x"></i> Rahma</span>
    </div>
    <div class="collapse navbar-collapse text-end" id="navbarsExampleXxl">
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
