<div class="main my-2">
  <div class="">
  <div class="text-end my-3">
    <span class="h5 fw-light"><i class="fas fa-bell"></i> Notification (<span class="text-danger">3</span>)</span>
      </div>
        <div class="row p-2">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class=" mb-4">
              <div class="card card-body bg-success shadow text-white ">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="fw-light h6 ">REGISTERD USERS</div><hr>
                    <div class="text-center fw-light">
                      <p class="text-start">167</p>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-users fa-2x "></i> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Library Block -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class=" mb-4">
              <div class="card card-body bg-primary shadow text-white">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="fw-light h6 ">SENT</div><hr>
                    <div class="text-center fw-light">
                      <p class="text-start">45</p>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-paper-plane fa-2x "></i> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Snacks Block -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class=" mb-4">
              <div class="card card-body bg-warning  shadow text-dark">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="fw-light h6 ">RECEIVED MAIL</div><hr>
                    <div class="text-center fw-light">
                      <p class="text-start">29</p>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-users fa-2x"></i> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Others Block -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class=" mb-4">
              <div class="card card-body bg-danger  shadow text-white">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="fw-light h6 ">PENDING MAIL</div><hr>
                    <div class="text-center fw-light">
                      <p class="text-start">67</p>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-users fa-2x"></i> </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      </div>
