<div class="main2 my-2">
<div class="container">
  <div class="card-header card-body my-2 h3">
    <i class="fas fa-location fa-spin"> </i> Trace
  </div>
  <div class="card card-body shadow table-success ">
    <div class="card card body h4 p-3 shadow">
    <div class="form-label fw-light">FROM: Khamis</div>
    <div class="form-label fw-light">To: Dean</div>
    <div class="form-label fw-light">Date: Monday 28-06-23</div>
  </div>
    <div class="row text-center my-3">
        <div class="col-md-3 h4">
          <!-- <div class="form-check"><input type="radio"></div> -->
          <i class="fa fa-user"></i>
          <div class="form-label">You</div>
        </div>
        <div class="col-md-3 h4 text-muted">
          <i class="fa fa-user-circle "></i>
          <div class="form-label">Registry clerk</div>
        </div>
        <div class="col-md-3 h4">
          <!-- <div class="form-check"><input type="radio"></div> -->
          <i class="fa fa-user-circle"></i>
          <div class="form-label">Head</div>
        </div>
        <div class="col-md-3 h4">
          <!-- <div class="form-check"><input type="radio"></div> -->
          <i class="fa fa-user-tie"></i>
          <div class="form-label">Dean</div>
        </div>
    </div>

  </div>

</div>
</div>
