<div class="wrapper">
  <div class="auth-content">
    <div class="card shadow" style=" border-radius: 25px;">
      <div class="card-body">
        <div class="" style="text-align: center;"> <img class="brand fa-spin" src="../../../assets/img/ico/e-latter.ico" alt="e-latter" style="width: 13%"> </div>
        <h2 class="text-center fw-light">LOGIN</h2>
        <!-- <form (ngSubmit)="OnSubmit()"> -->
         <form>
          <div>
          <label class="form-label fw-light"> <i class="fas fa-user"></i> Username:</label>
          <input type="text" class="form-control mb-3 shadow"  name="Uname" required  autocomplete="off">
        </div>
        <!-- <span *ngIf="name.invalid && name.touched" style="color:rgb(202, 25, 25)"> please fill here</span> -->
        <div class="mb-3">
          <label class="form-label fw-light"><i class="fas fa-lock"></i> Password:</label>
          <input type="{{showPassword ? 'text' : 'password'}}" class="form-control mb-3 shadow card border" name="password" required autocomplete="off">
        </div>
        <div class= "form-check form-switch mb-3">
            <input type="checkbox" (change)="showPassword = !showPassword" class="form-check-input" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault"> Show Password</label>
        </div>
        <div>
          <a routerLink="adminHome"><button type="submit" name="login" class="btn btn-success btn-sm w-100 mb-3 fw-light">  <i class="fa fa-sign-in"></i> Login</button></a>
          <div class="row">
            <div class="col-md-6 mb-3">
             <a routerLink="forgot"> <button type="submit" name="login" class="btn btn-dark btn-sm  w-100 fw-light"> Forgot password ?</button></a>
           </div>
           <div class="col-md-6">
             <a routerLink="account"> <button type="button" name="Create" class="btn btn-primary btn-sm  w-100 fw-light"> Create Account</button></a>
           </div>
         </div>
         <p class="text-muted mb-2 fw-light" align="center">Copyright &copy; Rahma khamis </p>
         </div>
      </form>
     </div>
   </div>
 </div>
</div>
<router-outlet></router-outlet>

