<body>
  <div class="wrapper">
    <div class="auth-content ">
      <div class="card shadow square-b">
        <div class="card-body border square-b">
          <form>
          <h3 class="text-center color2">LOGIN</h3>
           <div>
            <label class="form-label color2"> <i class="fas fa-user"></i> Username:</label>
            <input type="text" class="form-control  bg-white mb-3 " name="Uname" required autocomplete="off" style="font-size: 18px; color: #330000">
          </div>
          <div class="mb-4 my-2">
            <label class="form-label color2"><i class="fas fa-lock"></i> Password:</label>
            <input type="password" class="form-control  bg-white mb-3 " name="password" required autocomplete="off" style="font-size: 18px; color: #330000">
          </div>
            <a><button type="submit" name="login" class="btn btn-outline-success w-100  mb-4"  ><i class="fas fa-sign-in-alt"></i> LOGIN</button></a>
            <div class="row m-b-20">
              <div class="col-md-6 mb-3">
               <a routerLink="forgot"> <button type="button" name="login" class="btn btn-outline-dark w-100 "  > Forgot password ?</button></a>
             </div>
             <div class="col-md-6">
              <a routerLink="account-page"> <button type="button" name="login" class="btn btn-outline-primary w-100 "> Create Account</button></a>
             </div>
           </div>
           <p class="text-muted mb-2 text-center">Copyright &copy; Rahma Khamis</p>
         </form>
       </div>
     </div>
   </div>
 </div>
</body>
<form >
