<div class="sidenav">
  <ul id="sidebar" class="list-unstyled components">
              <div id="mySidenav" class="sidenav">
                <div class="row">
                  <div class="d-flex align-items-center pb-3 link-dark text-decoration-none col-md-12">
                    <span class="fw-semibold text-center fw-light">
                        <img class="brand" src="../../../assets/img/ico/e-latter.ico" alt="e-latter" style="width: 12%">
                        </span>
                    </div>
                    <span class="text-center h5 fw-light border-bottom col-md-12">[ {{role}} ]</span>
                </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times"></i>
            </a>
            <li class="fw-light"><a routerLink='receiver-home' onclick='closeNav()'><i class="fas fa-home"></i> Home</a></li>
            <!-- <li class="fw-light"><a routerLink='' onclick='closeNav()'><i class="fas fa-users"></i> Users</a></li> -->
            <!-- <li class="fw-light"> <a routerLink='sent' onclick='closeNav()'><i class="fas fa-paper-plane"></i> Sent</a></li> -->
            <!-- <li class="fw-light"> <a routerLink='draft' onclick='closeNav()'><i class="fas fa-file"></i> Draft</a></li> -->
             <li class="fw-light"> <a routerLink='receiver-setting' onclick='closeNav()'><i class="fas fa-cog"></i> Setting</a></li>
            <!-- <li class="fw-light"> <a routerLink='archives' onclick='closeNav()'><i class="fas fa-archive"></i> Archives</a></li> -->
            <!-- <li class="fw-light"> <a routerLink='trace' onclick='closeNav()'><i class="fas fa-location fa-spin"></i> Trace</a></li> -->
            <li class="fw-light"> <a routerLink='report'onclick='closeNav()'><i class="fas fa-file"></i> Report</a></li>
            <li class="fw-light"> <a routerLink=''><i class="fas fa-sign-out"></i> Logout</a></li>
            </div>
          </ul>
      </div>
      <nav class="navbar navbar-expand-xxl navbar-dark myBg main2">
          <div class="container-fluid">
            <p class="navbar-brand"><span style="cursor:pointer" class="fas fa-navicon navi" onclick="openNav()"></span>
            <div class="collapse navbar-collapse text-end" id="navbarsExampleXxl">
            </div>
          </div>
        </nav>
      <router-outlet></router-outlet>
