<div class="sidenav shadow">
  <ul id="sidebar" class="list-unstyled components">
    <div id="mySidenav" class="sidenav shadow-sm">
      <div class="row">
        <div class="d-flex align-items-center pb-3 link-dark text-decoration-none col-md-12">
          <span class="fw-semibold text-center fw-light">
            <img class="brand fa-spin" src="../../../assets/img/ico/e-latter.ico" alt="e-latter" style="width: 18%">
          </span>
        </div>
        <span class="text-center h6 fw-light col-md-12">[ {{role}} ]</span>
      </div>
      <div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class=" btn btn-close my-1"></span>
        </a>
      </div>
      <li class="fw-light"><a routerLink='adminHome' onclick='closeNav()'><i class="fa fa-home"></i> Home</a></li>
      <li class="fw-light"><a routerLink='users' onclick='closeNav()'><i class="fa fa-users"></i> Users</a></li>
      <li class="fw-light"> <a routerLink='report' onclick='closeNav()'><i class="fa fa-file"></i> Report</a></li>

      <!-- <li class="fw-light"> <a routerLink='archives' onclick='closeNav()'><i class="fas fa-archive"></i> Archives</a></li> -->
      <li class="fw-light"> <a routerLink='setting' onclick='closeNav()'><i class="fa fa-cog"></i> Settings</a></li>
      <li class="fw-light"> <a routerLink=''><i class="fa fa-sign-out"></i> Logout</a></li>
    </div>
  </ul>
</div>
<nav class="navbar navbar-expand-xxl navbar-dark bg-dark main2">
  <div class="container-fluid">
    <p class="navbar-brand"><span style="cursor:pointer" class="fa fa-navicon navi" onclick="openNav()"></span>
    <div class="collapse navbar-collapse text-end" id="navbarsExampleXxl">
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
