<div class="main my-2">
  <div class="">
  <div class="text-end">
      </div>
        <div class="row">
          <div class="col-xl-3 col-md-6 mb-3">
            <div class=" mb-3">
              <div class="card card-body bg-success shadow text-white ">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="fw-light h6 ">TOTAL LETTERS</div><hr>
                    <div class="text-center fw-light">
                      <p class="text-start">4</p>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-users fa-2x "></i> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Library Block -->
          <div class="col-xl-3 col-md-6 mb-3">
            <div class=" mb-3">
              <div class="card card-body bg-primary shadow text-white">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="fw-light h6 ">SENT</div><hr>
                    <div class="text-center fw-light">
                      <p class="text-start">4</p>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-paper-plane fa-2x "></i> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Snacks Block -->
          <div class="col-xl-3 col-md-6 mb-3">
            <div class=" mb-3">
              <div class="card card-body bg-danger shadow text-dark">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="fw-light h6 ">REJECTED</div><hr>
                    <div class="text-center fw-light">
                      <p class="text-start">2</p>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-users fa-2x"></i> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Others Block -->
          <div class="col-xl-3 col-md-6 mb-3">
            <div class=" mb-3">
              <div class="card card-body bg-warning  shadow text-white">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="fw-light h6 ">PENDING MAIL</div><hr>
                    <div class="text-center fw-light">
                      <p class="text-start">1</p>
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-users fa-2x"></i> </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      </div>

