<div class="main my-2">
  <div class="container">
   <div class="row p-3">
      <div class="col-md-3"><button class="btn btn-light myBg myText-color w-50"><i class="fas fa-inbox"></i> Inbox</button></div>
      <div class="col-md-3"><button class="btn btn-light myBg myText-color w-50"><i class="fas fa-pen"></i> Create</button></div>
   </div>


      <div class="card shadow">
          <div class="card-header h5"><i class="fas fa-pen"></i> Create Mail</div>
          <div class="row p-3 text-end">
          <div class="col-md-12"><button class="btn btn-light w-50"><i class="fas fa-paperclip"></i></button>
          <button class="btn btn-light"><i class="fas fa-paper-plane"></i></button></div>
          </div>
          <div class="row p-3">

          <div class="col-md-1">
              <div class="form-control">FROM:</div>
          </div>
          <div class="col-md-11 mb-3">
                  <input type="text" class="form-control" placeholder="jumbezson@yahoo.com">
          </div>
          <div class="col-md-1 mb-3">
              <div class="form-control">TO:</div>
          </div>
          <div class="col-md-11 mb-4">
                  <input type="text" class="form-control">
          </div>

          <div class="col-md-2 mb-3">
              <div class="form-control">SUBJECT:</div>
          </div>
          <div class="col-md-10 mb-2">
                  <input type="text" class="form-control">
          </div>
          <div class="col-md-15 mb-2">
                <textarea class="tinymce form-control" name="content" rows="10" cols="30"></textarea>

              </div>

      </div>
      <div class="card-footer text-center">e-letter</div>

      </div>

  </div>

  </div>
