<div class="main">
  <div class="container text-center">
    <span class="fw-light h5"> <i class="fa fa-home"></i> Home</span>
  </div>

  <div class="row p-3">
    <!-- user card -->
    <div class="col-xl-3 col-md-6 mb-3">
      <div class=" mb-3">
        <div class="card card-body bg-success shadow text-white shape">
          <div class="row align-items-center">
            <div class="col">
              <div class="fw-light h6 ">TOTAL USERS</div>
              <div class="text-center fw-light">
                <p class="text-start h3 fw-light">{{ totalUsers }}</p>
              </div>
            </div>
            <div class="col-auto"><i class="fas fa-users fa-3x "></i> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- letter card -->
    <div class="col-xl-3 col-md-6 mb-3">
      <div class=" mb-3">
        <div class="card card-body bg-primary shadow text-white shape">
          <div class="row align-items-center">
            <div class="col">
              <div class="fw-light h6 ">TOTAL LETTERS</div>
              <div class="text-center fw-light">
                <p class="text-start h3 fw-light">{{ totalLetters }}</p>
              </div>
            </div>
            <div class="col-auto"><i class="fas fa-envelope fa-3x "></i> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- letter card -->
    <div class="col-xl-3 col-md-6 mb-3">
      <div class=" mb-3">
        <div class="card card-body bg-info shadow text-white shape">
          <div class="row align-items-center">
            <div class="col">
              <div class="fw-light h6 "> LETTERS APPROVED</div>
              <div class="text-center fw-light">
                <p class="text-start h3 fw-light">7</p>
              </div>
            </div>
            <div class="col-auto"><i class="fas fa-envelope fa-3x "></i> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- letter card -->
    <div class="col-xl-3 col-md-6 mb-3">
      <div class=" mb-3">
        <div class="card card-body bg-warning shadow text-white shape">
          <div class="row align-items-center">
            <div class="col">
              <div class="fw-light h6 "> LETTER PROCESSED</div>
              <div>
                <p class="text-start h3 fw-light">3</p>
              </div>
            </div>
            <div class="col-auto"><i class="fas fa-envelope fa-3x "></i> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



