<div class="main">
  <div class="container text-center">
    <span class="fw-light h5"> <i class="fa fa-envelope"></i> Letter</span>
    </div>
  <div class="container my-2">
    <div class="card card-body zero shadow none">
      <form (ngSubmit)="onSubmit()">
        <div class="">
          <div class="col-md-3 mb-3">
            <label class="form-label mb-3" for="">TO:</label>
            <select class="form-select zero" name="name" [(ngModel)]="management.name">
              <option value="" selected>choose..</option>
              <option value="Head">Head</option>
              <option value="Dean">Dean</option>
              <option value="DVC">DVC</option>
              <option value="VC">VC</option>
            </select>
          </div>
          <div class="row">
            <div class=" mb-2">
              <textarea class="tinymce form-control" name="content" rows="4" cols="30">
                  <div style="text-align:right">
                    <p>Khamis Jumbe Ussi</p>
                    <p>Kwarara</p>
                    <p>20/02/2020</p>
                    <h4 style="text-align:center;">KUH: <u>BARUA YA POSA</u></h4>
                    <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptatibus minima eius facere quaerat blanditiis itaque. Delectus illum recusandae autem eos dolores dolorem itaque aliquam hic, deserunt nisi corporis eligendi!</p>
                  </div>
                </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="submit" name="submit" class="btn btn-secondary zero"><i class="fas fa-paper-plane"></i> Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
